<div class="itemtthumb">

  <div class="thumbheader">
    <p>Order from:
      <a href="#shops/<%= item.escape('shop_id') %>">
        <%= item.escape('shop_name') %>
      </a>
    </p>
    <button class="removeFromCart btn btn-default">Remove From Cart</button>
  </div>

  <div class="orderinfo">
    <img src="<%= item.escape('images') %>"/>
    <a class="itemlink" href="#items/<%= item.escape('id') %>"><%= item.escape('name') %></a>
    <p class="itemdesc"><%= item.escape("description") %></p>
    <p class="itemprice"><%= item.escape('price_string') %></p>
  </div>

  <div class="checkout">
    <p>Your total for this item is <%= item.escape('price_string') %></p>
    <button class="checkoutbtn btn btn-default">Purchase Item</button>
  </div>

</div>
