<div class="itemtthumb">

  <div class="thumbheader">
    <p>Order from:
      <a href="#shops/<%= item.escape('shop_id') %>">
           <%= item.escape('shop_name') %>
      </a>
    </p>
    <button class="removeFromCart btn btn-default">&times;</button>
  </div>

  <div class="orderinfo">
    <div class="imagediv">
      <img src="<%= item.escape('images') %>"/>
    </div>
    <div class="iteminfodiv">
      <a class="itemlink" href="#items/<%= item.escape('id') %>"><%= item.escape('name') %></a>
      <p class="itemdesc"><%= item.escape("description") %></p>
      <div class=itemquantitydiv>Quantity
        <select class="itemquantity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>
      <p class="itemprice"><%= item.escape('price_string') %></p>
    </div>
  </div>

  <div class="checkout">
    <p>Your total for this item is <%= totalPriceString %></p>
    <button class="checkoutbtn btn btn-default" data-toggle="modal" data-target="#purchaseAlert">Proceed to Checkout</button>
  </div>

</div>

<div id="purchaseAlert" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="closePurchase" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Purchase Success!</h4>
      </div>
      <div class="modal-body">
        <p><%= item.escape('name') %> will be sent to you.</p>
        <p><%= totalPriceString %> has been charged to your account.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="closePurchase btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
