<div class="shopbanner">
    <img src="<%= item.escape('shop_banner') %>" />
    <p><%= item.escape('shop_name') %></p>
    <br>
    <button class="btn btn-default">Favorite Shop</button>
</div>
<div class="itemdiv">
  <div class="itempic">
    <img src="<%= item.escape('images') %>"/>
  </div>
  <div class="iteminformation">
    <p><%= item.escape('name') %></p>
    <p>Sold By:
      <a href="#shops/<%= item.escape('shop_id') %>">
        <%= item.escape('shop_name') %>
      </a>
    </p>

    <label>Quantity</label>
    <select class="itemquantity">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>

    <p class="price"><%= item.escape('price_string') %></p>
    <p><%= item.escape('description') %></p>
    <button class="addtocart btn btn-default">Add to Cart</button>
  </div>
</div>
