<div class="itemthumb">
  <div class="itempic">
    <a href="#items/<%= item.escape('id') %>">
      <img class=item-img" src="<%= item.escape('images') %>"/>
    </a>
    <% if (item.isFavorited()) { %>
      <% color = "red" %>
    <% } else { %>
      <% color = "gray" %>
    <% } %>
      <button class="toggleFavoriteItem btn btn-default" style="color:<%= color %>">
        &hearts;
      </button>
  </div>
  <div class="iteminfo">
    <a class="itemlink" href="#items/<%= item.escape('id') %>"><%= item.escape('name') %></a>
    <div class="shopinfoprice">
      <a href="#shops/<%= item.escape('shop_id') %>"><%= item.escape('shop_name') %></a>
      <span class="itemprice"><%= item.escape('price_string') %></span>
    </div>
  </div>
</div>
