<div class="welcome">
  <div class="text">Hi, <%= ArtisanStyle.CURRENT_USER.username %>!</div>
</div>

<div id="shops">
</div>

<nav>
  <div class="spacer"></div>
  <ul class="pagination">

    <% if (this.collection.page === 1) {%>
    <li>
      <a href="javascript:void(0)" class="previous" aria-label="Previous">
        <span aria-hidden="true">&laquo; Previous</span>
      </a>
    </li>
    <li>
      <a href="#home/<%= this.collection.page + 1 %>" class="next" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>

    <% } else if (this.collection.page === this.collection.total_pages) {%>

    <li>
      <a href="#home/<%= this.collection.page - 1 %>" class="previous" aria-label="Previous">
        <span aria-hidden="true">&laquo; Previous</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="next" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>

    <% } else { %>
    <li>
      <a href="#home/<%= this.collection.page - 1 %>" class="previous" aria-label="Previous">
        <span aria-hidden="true">&laquo; Previous</span>
      </a>
    </li>
    <li>
      <a href="#home/<%= this.collection.page + 1 %>" class="next" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>

    <% } %>

  </ul>
  <div class="spacer"></div>
</nav>
