<div class="shop-card">
  <div class="item-pics">
    <% items.each(function(item) { %>
      <a href="#items/<%= item.escape('id') %>">
        <img class="item-img" src="<%= item.escape('images') %>"/>
      </a>
    <% }); %>
  </div>
  <div class="shop-info">
    <span class="shopthumbimg">
      <a href="#shops/<%= shop.escape('id') %>">
        <img class="shop-img" src="<%= shop.escape('image') %>" alt="" />
      </a>
    </span>
    <span class="shopnamelink">
      <a class="shopname" href="#shops/<%= shop.escape('id') %>"><%= shop.escape('name') %></a>
    </span>
    <span class="shopfavorite">
      <button class="btn btn-default">&hearts;</button>
    </span>
  </div>
</div>
