<div class="shop-card">
  <div class="item-pics">
    <% _(items.first(4)).each(function(item) { %>
      <div class="item-image">
        <a href="#items/<%= item.escape('id') %>">
          <img class="item-img" src="<%= item.escape('images') %>"/>
        </a>
      </div>
    <% }); %>
  </div>
  <div class="shop-info">
    <span class="shopthumbimg">
      <a href="#shops/<%= shop.escape('id') %>">
        <img class="shop-img" src="<%= shop.escape('image') %>" alt="" />
      </a>
    </span>
    <span class="shopnamelink">
      <a class="shopname" href="#shops/<%= shop.escape('id') %>"><%= shop.escape('name') %></a>
    </span>
    <span class="shopfavorite">
      <% if (shop.isFavorited()) { %>
        <button class="toggleFavorite btn btn-default" style="color:red">&hearts;</button>
      <% } else { %>
        <button class="toggleFavorite btn btn-default" style="color:gray">&hearts;</button>
      <% } %>
    </span>
  </div>
</div>
